<body>
  <div id="page">
    <div id="blog" class="home_page_bar">
      <a href="http://hardlydent.tumblr.com/"><h1>Blog</h1></a>
    </div>
    <div id="work" class="home_page_bar">
      <a href="static_pages/work.html"><h1>My Work</h1></a>
    </div>
  </div><!--#page-->
</body>