/* =Reset
-------------------------------------------------------------- */
 
/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
html,
body,
div{
    margin: 0;
    padding: 0;
    height: 100%;
}*/

/* =Color
-------------------------------------------------------------- */
/* 
#header{
    background: #cccccc;
}*/


/* =Structure
-------------------------------------------------------------- */
 
/*.wrap{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em;
}
 
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
 
#primary{
    max-width: 560px;
    margin: 0 auto;
}
 
#secondary{
    max-width: 560px;
    margin: 0 auto;
}
*/
/* =Media Queries
-------------------------------------------------------------- */
.home_page_bar {
  font-family: 'Poiret One', cursive;
  text-align: center;
  height: 50%;
  line-height: 25em;
}

a {
    text-decoration: none;
    color: inherit;
}

#blog {
    background-color: #E66868;
}

#work {
    background-color: #89E0FA;
}

h1 {
    margin: 0;
}

@media screen and (min-width : 900px) {
    .home_page_bar {

    }
}

